# Config file format for shallow parser

[ATTR]

# Attributes and their values

number                  = sg pl
case                    = nom gen dat acc inst loc voc
gender                  = m1 m2 m3 f n n1 n2 n3 p1 p2 p3
person                  = pri sec ter
degree                  = pos comp sup
aspect                  = imperf perf
negation                = aff neg
accommodability         = congr rec
accentability           = akc nakc
post-prepositionality   = npraep praep
agglutination           = agl nagl
vocalicity              = nwok wok
sentiment               = spos sneg
fullstoppedness         = pun npun

[POS]

# Part of speech definitions.

adja    =
adjp    =
adjc    =
conj    =
comp    =
interp  = 
pred    =
xxx     =
adv     = [degree]
imps    = aspect
inf     = aspect
pant    = aspect
pcon    = aspect
qub     = [vocalicity]
prep    = [vocalicity]
siebie  = case
subst   = number gender
depr    = number gender
ger     = number gender aspect negation
ppron12 = number gender [accentability]
ppron3  = number gender [accentability] [post-prepositionality]
num     = number gender accommodability
numcol  = number gender accommodability
adj     = number gender degree
pact    = number gender aspect negation
ppas    = number gender aspect negation
winien  = number gender aspect
praet   = number gender aspect [agglutination]
bedzie  = number aspect
fin     = number aspect
impt    = number aspect
aglt    = number aspect vocalicity
ign     =

brev    = fullstoppedness
burk    =
interj  =

